<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
<listeners>
    <listener class-name="listeners.TestNGListener" />
  </listeners>
<parameter name="Username"  value="Admin"/>
<parameter name="Password"  value="admin123"/>
  <test name="Test">
    <classes>
       <class name="testcases.LoginTest"/>
       <class name="testcases.MyInfoTest"/>
       <!--<class name="testcases.RecruiteTest"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
